@mixin container-respond-lt-800() {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin container-respond-lt-510() {
  @media (max-width: 510px) {
    @content;
  }
}

body {
  overflow-x: hidden;
}

.o-container {
  @extend %clearfix;
  width: 200vw;
  transition: transform 300ms cubic-bezier(0.70, 0, 0.30, 1); // ease in out

  @include container-respond-lt-800() {
    width: auto;
  }
}

.o-container__page {
  padding-top: 67px;
  float: left;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 100px;
  overflow: hidden;

  @include container-respond-lt-510() {
    padding-top: 100px;
  }

  &--works {
    background-color: $page-bg;
  }

  &--profile {
    background-color: $page-bg;
  }

  @include container-respond-lt-800() {
    padding-bottom: 0;
  }
}

// Page Switcher

.o-container__target--works {

  .o-container__page--profile {
    height: 100vh;

    @include container-respond-lt-800() {
      height: auto;
    }
  }

  .o-container {
    transform: translate3d(0, 0, 0);
  }
}

.o-container__target--profile {

  .o-container__page--works {
    height: 100vh;

    @include container-respond-lt-800() {
      height: auto;
    }
  }

  .o-container {
    transform: translate3d(-50%, 0, 0);
  }
}
