@mixin hero-respond-lt-800() {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin hero-respond-lt-390() {
  @media (max-width: 390px) {
    @content;
  }
}

.o-hero {
  @extend %clearfix;
  margin-top: 100px;
  margin-bottom: 200px;
  padding: 0 50px;

  @include hero-respond-lt-390() {
    padding: 0 20px;
  }
}

.o-hero__container {
  width: 700px;
  float: right;

  @include hero-respond-lt-800() {
    float: none;
    width: 100%;
  }
}

.o-hero__paragraph {
  font-size: 28px;
  line-height: 28px * 1.5;

  &--secondary {
    margin-top: 10px;
    font-size: 22px;
    line-height: 1.5;
  }
}

.o-hero__name {
  color: $blue;
  font-size: 36px;
}
