@mixin profile-respond-lt-800() {
  @media (max-width: 800px) {
    @content;
  }
}

.o-profile {
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include profile-respond-lt-800() {
    display: block;
    padding: 0 20px;
  }
}

.o-profile__box {
  width: 45%;
  margin-bottom: 80px;

  @include profile-respond-lt-800() {
    width: auto;
  }
}

.o-profile__header {
  font-family: Francois One, sans-serif;
  font-size: 36px;
  line-height: 1.5;
}

.o-profile__text {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 20px;
  text-align: justify;
  text-justify: inter-word;
}
