.o-works {
  padding: 0 80px;
  & + & {
    margin-top: 60px;
  }
}

.o-works__header {
  font-size: 28px;
}

.o-works__container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  > * {
    width: 350px;
    margin-bottom: 40px;
  }
}
