@mixin works-respond-lt-510() {
  @media (max-width: 510px) {
    @content;
  }
}

@mixin works-respond-lt-390() {
  @media (max-width: 390px) {
    @content;
  }
}

.o-works {
  padding: 0 80px;

  & + & {
    margin-top: 60px;
  }

  @include works-respond-lt-510() {
    padding: 0 20px;
  }
}

.o-works__header {
  font-size: 28px;
}

.o-works__container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  .o-works__project {
    width: 350px;
    margin-bottom: 40px;
    margin-right: 40px;
  }

  @include works-respond-lt-510() {
    justify-content: space-around;
    .o-works__project {
      margin-right: 0;
    }
  }

  @include works-respond-lt-390() {
    display: block;
    .o-works__project {
      width: 100%;
      margin-bottom: 40px;
    }
  }
}
